@media (max-width: 755px){
    body {
        background-image: url('./design/mathematics-g0272c0b29_1920\(3x\).jpg');
        background-size: 134vh 100vh;
    }

    h1 {
        font-size: 2em;
    }

    main .texto-selecao{
        width: 350px;
        text-align: center;
    }

    main .area-do-jogo{
        width: 80%;
    }

    .area-de-relatorios{
        font-size: 1.2em;
    }

    .info{
        margin-bottom: 4px;
    }    

    .info span{
        display: none;
    }

    .reiniciar-jogo{
        font-size: 0.8em;
    }
}

@media (max-width: 360px){
    h1 {
        text-align: center;
    }

    main .texto-selecao p{
        font-size: 1em;
    }

    main .area-do-jogo{
        width: 100%;
        border-radius: 0px;
    }

    .opcao{
        height: 90px;
        margin: 5px;
        font-size: 5.5em;
    }

    .marcado{
        height: 90px;
        margin: 5px;
    }

    .area-de-relatorios{
        margin-top: 6px;
        padding: 5px;
        /* font-size: 1.5em; */
    }

}